#--------------------------------------------------------------------------
# If you want to change the container name, network name or
# the data volume, you can create a DotEnv file
# and override the Docker Compose variables.
#
# You can run the following command in the terminal
# to create your DotEnv file.
#
# cp .env.example .env
#--------------------------------------------------------------------------

#--------------------------------------------------------------------------
# Docker env
#--------------------------------------------------------------------------

# The project name. | default: rabbitmq
APP_NAME="rabbitmq"

#--------------------------------------------------------------------------
# Service
#--------------------------------------------------------------------------

# The Rabbitmq container name.
RB_CONTAINER_NAME="${APP_NAME}"

# The Rabbitmq user credentials.
RABBITMQ_USERNAME="bugs"
RABBITMQ_PASSWORD="bugs01"

#--------------------------------------------------------------------------
# Network env
#--------------------------------------------------------------------------

# Map the rabbitmq container exposed port to the host port.
RB_PORT=5672
RB_MAN_PORT=15672

# The Docker network for the containers.
RB_NETWORK_NAME="rabbitmq_net"

#--------------------------------------------------------------------------
# Volume env
#--------------------------------------------------------------------------

# The database container data volume. | default: pgsql_db_data
RB_VOLUME_DATA_NAME="${RB_CONTAINER_NAME}_data"
